{% extends "familia_lista.html" %}



{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">
   <div class="row">
     <div class="col">
      <h1>CARGAR UN ANIMAL</h1>
     </div>
     </div>
     <div class="row">
     <div class="col">
      <form action="{% url  'agregara'%}" method="post">
         {% csrf_token %} 
         {{form }}
         {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
      </form>
     </div>
   </div>
 </div>
{% endblock %}
